.carrierHorizontal{
    background-image: url('../img/ships/carrier.png');
    background-size: 100%;
    background-position: center;
}

.carrierVertical{
    background-image: url('../img/ships/carrier_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.battleshipHorizontal{
    background-image: url('../img/ships/battleship.png');
    background-size: 100%;
    background-position: center;
}

.battleshipVertical{
    background-image: url('../img/ships/battleship_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.submarineHorizontal{
    background-image: url('../img/ships/submarine.png');
    background-size: 100%;
    background-position: center;
}

.submarineVertical{
    background-image: url('../img/ships/submarine_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.destroyerHorizontal{
    background-image: url('../img/ships/destroyer.png');
    background-size: 100%;
    background-position: center;
}

.destroyerVertical{
    background-image: url('../img/ships/destroyer_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.patrol_boatHorizontal{
    background-image: url('../img/ships/patrol_boat.png');
    background-size: 100%;
    background-position: center;
}

.patrol_boatVertical{
    background-image: url('../img/ships/patrol_boat_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

/*Celdas seleccionadas*/
.targetCell{
    background-color: red;
    opacity: 50%;
}

/*Celdas con barcos tocados*/
.ship-down{
    background-image: url('../img/ships/fuegodehielo.gif');
    background-size: 100%;
    z-index: 100;
}

.ship-piece-hited{
    background-color: rgb(38, 0, 255);
    opacity: 50%;
}

/*Celdas enemigas con barcos tocados*/
.hitCell{
    background-image: url('../img/whitewalker/fuego.gif');
    background-size: 100%;
    z-index: 100;
}

/*Celdas enemigas con disparos errados*/
