.carrierHorizontal{
    background-image: url('../img/whitewalker/carrier.png');
    background-size: 100%;
    background-position: center;
}

.carrierVertical{
    background-image: url('../img/whitewalker/carrier_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.battleshipHorizontal{
    background-image: url('../img/whitewalker/battleship.png');
    background-size: 100%;
    background-position: center;
}

.battleshipVertical{
    background-image: url('../img/whitewalker/battleship_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.submarineHorizontal{
    background-image: url('../img/whitewalker/submarine.png');
    background-size: 100%;
    background-position: center;
}

.submarineVertical{
    background-image: url('../img/whitewalker/submarine_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.destroyerHorizontal{
    background-image: url('../img/whitewalker/destroyer.png');
    background-size: 100%;
    background-position: center;
}

.destroyerVertical{
    background-image: url('../img/whitewalker/destroyer_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}

.patrol_boatHorizontal{
    background-image: url('../img/whitewalker/patrol_boat.png');
    background-size: 100%;
    background-position: center;
}

.patrol_boatVertical{
    background-image: url('../img/whitewalker/patrol_boat_vertical.png');
    background-size: 100%;
    background-position: center;
    width: 45px !important;
}
