/*.ship-piece{
    background-color: mediumpurple;
}

.ship-piece-hited{
    background-color: darkmagenta;
}

.salvo{
    background-color: crimson;
}
*/

button{
    margin-top: 30px !important;
}

#playerInfo{
    text-align: center;
    font-family: 'Cinzel Decorative';
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
}

h2{
    text-align: center;
    font-family: 'Cinzel Decorative' !important;
    text-transform: uppercase;
    color: #ffffff !important;
}

body{
    background-color: #000000 !important;
}

.grid-stack-item-content {
    background-repeat: no-repeat;

    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.grid-ships{
    background-image: url(../img/original_2.gif);
    background-size: cover;
    border: 2px solid #ffffff;
    border-radius: 10px;
    height: 499px;
    width: 495px;
    margin: auto;
    margin-top: 10vh
}

#grid{
    margin: 45px 0 0 45px;
    position: absolute;
    width: 450px;

}

.grid-wrapper{
    display: absolute;
    display: flex;
    flex-direction: column;
}

.grid-row{
    display: flex;
    flex-direction: row;
}

.grid-cell{
    display: flex;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 1.3px solid #ffffff;
    border-radius: 10px;
    vertical-align: middle;
    font-family: 'Cinzel Decorative';
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.grid-cell span{

    margin: auto
}

/* .busy-cell{
    background-color:#ffffff;
}*/

.grid-row:first-child .grid-cell{
    background-color: lightblue;
}

.grid-cell:first-child{
    background-color: lightblue;
}

#alert-text{
    color: red;
    text-align: center;
    display: block;
}